#left-nav{
    height: 100vh;
    grid-area: left-nav;
    background-color: #fefbf2;
    padding: 2rem 3rem 2rem 3rem;
    color: #000;
}

/* LEFT NAV LIST */

.li-icons{
    padding-right:8px;
}

.left-nav-main {
    border-bottom: 1px solid #e8e8e8;
}

.project-dot {
    height: 1rem;
    width: 1rem;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin-right: .5rem;
}

.project-dot-yellow {
    height: 1rem;
    width: 1rem;
    background-color: rgb(249, 208, 27);
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
}

.li-task-count-style{
    margin-left: .5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #7e7d79;
}

nav ul {
    padding: 1rem;
}

nav ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem 0 .5rem 1rem;
}

nav ul li:hover {
    background-color: #fff;
}

nav ul li#add-project {
    color: #767676;
}

.li-inbox {
    font-weight: 700;
}

.li-inbox:before {
    content: "\e156";
    font-family: 'Material Icons';
    font-size: 2rem;
    display: inline-block;
    /* margin-left: -1.3em;  */
    width: 1.3em;
    color: #0099ff;
}

.li-today:before {
    content: "\e935";
    font-family: 'Material Icons';
    font-size: 2rem;
    display: inline-block;
    /* margin-left: -1.3em; */
    width: 1.3em;
    color: #00cd22;
}

.li-upcoming:before {
    content: "\ebcc";
    font-family: 'Material Icons';
    font-size: 2rem;
    display: inline-block;
    /* margin-left: -1.3em; */
    width: 1.3em;
    color: #a700cd;
}


.li-project{
    border-bottom: 1px solid #ccc;
}

.li-projects:before {
    content: "\e5cc";
    font-family: 'Material Icons';
    font-size: 2rem;
    display: inline-block;
    /* margin-left: -1.3em; */
    width: 1.3em;
}

.project-toggle:before {
    content: "\e5cc";
    font-family: 'Material Icons';
    font-size: 2rem;
    display: inline-block;
    /* margin-left: -1.3em; */
    width: 1.3em;
}

#toggle-inner {
    display: block;
}

.li-toggle-result-2:before {
        content: "\e7fd";
        font-family: 'Material Icons';
        font-size: 1.5rem;
        display: inline-block;
        /* margin-left: -1.3em; */
        width: 1.3em;
        color: #0099ff;
}

.li-toggle-result-3:before {
    content: "\e7fd";
    font-family: 'Material Icons';
    font-size: 1.5rem;
    display: inline-block;
    /* margin-left: -1.3em; */
    width: 1.3em;
    color: #a700cd;
}

.li-toggle-result-4:before {
    content: "\e7fd";
    font-family: 'Material Icons';
    font-size: 1.5rem;
    display: inline-block;
    /* margin-left: -1.3em; */
    width: 1.3em;
    color: #00cd22;
}


.li-add-item:before {
    content: "\e145";
    font-family: 'Material Icons';
    font-size: 2rem;
    display: inline-block;
    /* margin-left: -1.3em; */
    width: 1.3em; 
    color: #dc4c3e;
}

/* ADD Project Styling */

.add-project{
    color: #767676;
}