#header {
    grid-area: header;
}

header {
    background-color: #dc4c3e;
    color: #fff;
    font-size: 1.2rem;

}

header .container {
    padding: 1rem;
}

#header-grid{
    white-space : nowrap;
    display:grid;
    grid-template-columns: 3% 20% auto;
    grid-template-rows: auto;
    grid-template-areas: "toggle quick-find tasks";
}

#toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: toggle;
    /* padding: 1rem 0; */
}

#tasks {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    grid-area: tasks;
    text-align: right;
}

#tasks p {
    display: inline-block;
}