code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


p {
  margin: 0;
}

ul {
  list-style: none;
}

li {
  /* padding-left: 1.3em; */
  padding: .5rem 0 .5rem 0;
  font-size: 1.3rem;
}

#main-container {
  display:grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  grid-template-areas:
  "header header"
  "left-nav primary-content";
}



/* To Do List */
#primary-content{
  grid-area: primary-content;
  min-width:200px;
  height: 100vh;
  background-color: #fff;
  padding: 3rem 4rem 3rem 4rem;
}

h1{
  font-size: 2rem;
}

ul.inbox{
  margin-left: -2rem;
}

ul.inbox li{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2rem 0 1.2rem 0;
  border-bottom: 1px solid #e8e8e8;
}

ul.inbox p {
  display: inline-block;
}

#add-task {
  border-bottom: none;
}

#add-task p {
  display: inline;
  color: #767676;
}

.dot-red {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #dc4b3e50;
  border: 2px solid #dc4c3e;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;
}

.dor-red:checked {
  background-color: gray;
}

.dot-blue {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #0004ff50;
  border: 2px solid #0004ff;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;
}

.dot-neutral {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #00000020;
  border: 2px solid #767676;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem;
}

    