code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


section {
  grid-area:main;
}

aside{
  grid-area:sidebar;
}

nav {
  grid-area:navigation;
}

p {
  margin: 0;
}

ul {
  list-style: none;
}

li {
  /* padding-left: 1.3em; */
  padding: .5rem 0 .5rem 0;
  font-size: 1.3rem;
}